/* Page */
.login-page-wrapper {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}



/* Center container */
.login-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login card */
.login-card {
  width: 360px;
  background: #fff;
  border-radius: 18px;
  padding: 32px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 24px;
  font-size: 26px;
  color: #ff0000;
}

/* Form */
.login-card label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: bold;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.login-card button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 999px;
  background: #07a31f;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-card button:hover {
  background: #0056b3;
}

.error {
  color: #dc3545;
  margin-bottom: 12px;
  font-weight: bold;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .login-card {
    width: 90%;
    padding: 24px;
  }
}